// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-terciaria: #F1E0AC;
$cor-botao: #6e7894;

// Tamanho das Fontes
$tamanho-do-texto: 3rem;